ul {
  list-style: none;
}

#minimenu {
  width: 100%;
  padding-top: 10px;
  box-shadow: 0px 3px 5px rgb(173, 178, 209);
  background-color: rgb(9, 38, 94);
  font-size: 12px;
  position: relative;
}

#minimenu a {
  color: #a9a6b4;
  text-decoration: none;
  padding: 0px 5px;
}

#minimenu a:hover {
  color: white;
}

.datetime {
  font-size: 12px;
  display: block;
  float: left;
}

.datetime ul li {
  display: inline-block;
}

.contact {
  font-size: 12px;
  display: block;
  float: right;
}

.contact ul li {
  display: inline-block;
}

#mainmenu {
  padding-bottom: 3px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 5px gray;
}

#mainmenu a {
  color: #277205;
  text-decoration: none;
  padding: 0px 5px;
}
#mainmenu a:hover {
}

.logo {
  height: 100px;
  padding: 0px 15px;
}

.logo img {
  height: 100px;
}
.nev {
  font-size: 15px;
  font-weight: bold;
  height: 100px;
  padding-top: 70px;
  padding: 15px 0px;
  float: right;
  text-decoration: none;
}
.nev ul li {
  display: inline-block;
  padding-left: 15px;
  padding-top: 50px;
}

.nev a {
  padding: 60px;
}

.nev a:hover {
  -moz-box-shadow: 0 0 10px #277205;
  -webkit-box-shadow: 0 0 10px #277205;
  box-shadow: 0 0 10px #277205;
}
